@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Open+Sans:ital,wght@1,300;1,400&family=Poppins:ital,wght@1,100&family=Raleway:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}


#quote-box {
  width: 30%;
  min-height: 30%;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#text{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  margin: 50px 0;
}

#author {
  text-align: right;
  padding-right: 20px;
  color: green;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  margin: 20px; 
}

#tweet-quote, #tublr {
  display: inline-block;
  padding: 10px;
  background-color: green;
  margin: 0 5px;
  color: white;
}

#tublr {
  padding-left: 15px;
  padding-right: 15px;
}

#new-quote {
  display: inline-block;
  width: 100px; 
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.9;
} 